@media screen and (max-width: 1000px) {
    .mediaDisplay {
        display: none;
    }
}
@media screen and (min-width: 1000px) {
    .logoDisplay {
        display: none;
    }
}
span[type=button] {
    -webkit-appearance: none;
    border-radius: 0;
}

a[type=button] {
    -webkit-appearance: none;
    border-radius: 0;
}
body{
    background: url("../assets/img/backgroundPics.jpg");
    background-position: left;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* scrollUp button */
#scrollUp {
    position: fixed;
    bottom: 1px;
    right: -100px;
    font-size: 35px;
}
.scrollUpColor {
    color: white;
    opacity: 0.7;
}
/* scrollUp button */
.navBarColor {
    /* background-color: rgba(188, 226, 118, 0.733); */
    background-color: transparent;
}
.navBarSizeLogo {
    width: 90px;
    opacity: 0.8;
}
.titleSizeLogo {
    width: 16px;
}
.footerColor {
    background-color: transparent;
}
.butonEdit {
    cursor:pointer;
    color:#a94731;
}
.searchButtonColor {
    background-color: transparent;
    color: white;
    font-size: 25px;
}
.buttonColor1 {
    background-color: transparent;
    border: 2px solid #a94731;
    color: #a94731;
    font-size: 15px;
}
.buttonColor1:hover {
    color: #a94731;
}
.buttonColor2 {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 15px;
}
.buttonColor2:hover {
    color: white;
}
.textColor1 {
    color: #a94731;
}
.textColor2 {
    color: white;
}
#facebookLogoSize {
    height: 35px;
}
.card {
    background-color: rgba(0, 0, 0, 0.39);
}
#twitterLogoSize {
    height: 35px;
}
.borderInput {
    border-top: none;
    border-right: none;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0;
    background: transparent;
}
.borderInput2 {
    border-top: none;
    border-right: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0;
}
.footerTextSize {
    font-size: 12px;
}

.sizeFontUser {
    font-size: 30px;
}
.heightArea{
    height: 80vh;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-right: 48px;
}

li {
    margin-bottom: 5px;
    margin-top: 5px;
}

h1 {
    font-size: 25px;
    margin-bottom: 25px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 25px;
}

/* FONT COLOR DEBUT */
.error {
    color: rgb(226, 58, 58);
}
.valid {
    color: rgb(188, 226, 118);
}
.mailOk {
    color: rgb(188, 226, 118);
}

/* FONT COLOR FIN */
/* PICTURE USER CHOICE */
.previewAvatar {
    overflow:hidden;
    -webkit-border-radius:200px;
    -moz-border-radius:200px;
    border-radius:200px;
    width:200px;
    height:200px;
}
.previewAvatarDetailAdmin {
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:50px;
    height:50px;
}
/* PICTURE USER CHOICE */
/* PICTURE USER NAVBAR */
.avatarNav {
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:50px;
    height:50px;
}
/* PICTURE USER NAVBAR */
/* BORDER CONTACT ADMIN */
.borderRadius {
    border-radius: 20px;
}
/* BORDER CONTACT ADMIN */
/* BOUTON FOOTER */
.mentionButton {
border: none;
cursor:pointer;
}
/* BOUTON FOOTER */
/* SIZE PICTO CATEGORIE DEBUT */
.sizePictoCategory {
    width: 3rem;
}
/* SIZE PICTO CATEGORIE FIN */
/* SIZE PICTO ADMIN DEBUT */
.sizePictoAdmin {
    width: 2rem;
}
/* SIZE PICTO ADMIN FIN */
/* SIZE PICTO PAIEMENT DEBUT */
.sizePictoPayment {
    width: 2.5rem;
}
/* SIZE PICTO PAIEMENT FIN */
/* Z-INDEX MAP HOME PAGE DEBUT */
.mapHomePageSeineMaritime{
    opacity: 0.6;
    z-index: 1;
    width: 20rem;
    position: absolute;
    top: 0;
    left: 25rem;
}
.mapHomePageEure {
    opacity: 0.6;
    z-index: 2;
    width: 19.1rem;
    position: absolute;
    top: 9.26rem;
    left: 25.8rem;
}
.mapHomePageOrne {
    opacity: 0.6;
    z-index: 3;
    width: 21.35rem;
    position: absolute;
    top: 18.6rem;
    left: 13.71rem;
}
.mapHomePageCalvados {
    opacity: 0.6;
    z-index: 4;
    width: 19.5rem;
    position: absolute;
    top: 11rem;
    left: 10rem;
}
.mapHomePageManche {
    opacity: 0.6;
    z-index: 5;
    width: 15.1rem;
    position: absolute;
    top: 5rem;
    left: 2.1rem;
}
/* Z-INDEX MAP HOME PAGE FIN */
/* Z-INDEX TEXT HOME PAGE DEBUT */
.textHomePageSeineMaritime{
    font-size: 40px;
    font-weight: bold;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 8rem;
    color: white;
}
.textHomePageEure {
    font-size: 40px;
    font-weight: bold;
    z-index: 7;
    position: absolute;
    top: 0;
    left: 10rem;
    color: white;
}
.textHomePageOrne {
    font-size: 40px;
    font-weight: bold;
    z-index: 8;
    position: absolute;
    top: 0;
    left: 10rem;
    color: white;
}
.textHomePageCalvados {
    font-size: 40px;
    font-weight: bold;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 10rem;
    color: white;
}
.textHomePageManche {
    font-size: 40px;
    font-weight: bold;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 10rem;
    color: white;
}
/* Z-INDEX TEXT HOME PAGE FIN */
/* MOVE EFFECT MAP DEBUT */
.moveEffectMap {
    -webkit-transition: all 0.5s ease;
    /* Safari et Chrome */
    -moz-transition: all 0.5s ease;
    /* Firefox */
    -ms-transition: all 0.5s ease;
    /* Internet Explorer 9 */
    -o-transition: all 0.5s ease;
    /* Opera */
    transition: all 0.5s ease;
}

.moveEffectMap:hover {
    /* L'image est grossie de 25% */
    -webkit-transform: scale(1.03);
    /* Safari et Chrome */
    -moz-transform: scale(1.03);
    /* Firefox */
    -ms-transform: scale(1.03);
    /* Internet Explorer 9 */
    -o-transform: scale(1.03);
    /* Opera */
    transform: scale(1.03);
}
/* MOVE EFFECT MAP FIN */
/* body {
    background: #e2e2e2;
} */
